span.annotation { border-bottom: 2px solid; }
span.annotation span.annotation { padding-bottom:4px; }
span.annotation span.annotation span.annotation { padding-bottom:6px; }
span.annotation span.annotation span.annotation span.annotation { padding-bottom:8px; }
span.frag-id { color: #aaaaaa; font-size: 15px; }
span.linktarget { border-bottom: 2px solid; }

.column {
    max-width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}
.margin-right {
    margin-right: -22%;
    margin-left: 2%;
    max-width: 20%;
    margin-top: 0;
    font-size: 80%;
    text-align: left;
    float: right;
}
.margin-left {
    margin-left: -22%;
    margin-right: 2%;
    max-width: 20%;
    margin-top: 0;
    text-align: right;
    float: left;
}
table.no-borders,
table.no-borders th,
table.no-borders td {
    border: none;
}
table.no-borders {
    border-collapse: collapse;
}
mjx-container[display="true"] {
    font-size: 1.2em !important;
}
mjx-container:not([display="true"]) {
    font-size: 1em !important;
}
.align-left {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.align-right {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.align-centre {
  display: inline-block;
  width: 100%;
  text-align: center;
}


span[data-uid="0"] { border-color: orange; }
span[data-uid="1"] { border-color: blue; }
span[data-uid="2"] { border-color: red; }
span[data-uid="3"] { border-color: green; }
span[data-uid="4"] { border-color: purple; }
span[data-uid="5"] { border-color: violet; }
p         { text-align: justify; }
p         { background-color: #fffffff; }
p         { font-size: 16px; font-family: "TeXGyrePagella Regular", "URW Palladio L", Palatino, Baskerville, Menlo, Consolas, Monaco; }
table     { font-size: 16px; font-family: "TeXGyrePagella Regular", "URW Palladio L", Palatino, Baskerville, Menlo, Consolas, Monaco; }
a         { color: #2288bb; text-decoration:underline; }
a:visited { color: #888888; }
a:hover   { color: white; background-color: #33aaff; text-decoration:underline; }
code      {
font-family: "SourceCodePro-Regular", Consolas, Monaco, Lucida Console, monospace;
font-size: 16px;
background-color: #f7f7f7;
color: #333;
overflow-x: auto;
white-space: pre;
}
@font-face {
font-family: "TeXGyrePagella Regular";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella Regular.eot");
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella Regular.eot?#iefix") format("embedded-opentype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella Regular.woff2") format("woff2"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella Regular.woff") format("woff"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella Regular.ttf") format("truetype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella Regular.svg#TeXGyrePagella Regular") format("svg");
}
@font-face {
font-family: "TeXGyrePagella-Italic";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Italic.eot");
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Italic.eot?#iefix") format("embedded-opentype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Italic.woff2") format("woff2"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Italic.woff") format("woff"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Italic.ttf") format("truetype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Italic.svg#TeXGyrePagella-Italic") format("svg");
}
@font-face {
font-family: "TeXGyrePagella-Bold";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Bold.eot");
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Bold.eot?#iefix") format("embedded-opentype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Bold.woff2") format("woff2"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Bold.woff") format("woff"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Bold.ttf") format("truetype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-Bold.svg#TeXGyrePagella-Bold") format("svg");
}
@font-face {
font-family: "TeXGyrePagella-BoldItalic";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-BoldItalic.eot");
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-BoldItalic.eot?#iefix") format("embedded-opentype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-BoldItalic.woff2") format("woff2"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-BoldItalic.woff") format("woff"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-BoldItalic.ttf") format("truetype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/TeXGyrePagella-BoldItalic.svg#TeXGyrePagella-BoldItalic") format("svg");
}
@font-face {
font-family: "SourceCodePro-Regular";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Regular.eot");
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Regular.woff2") format("woff2"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Regular.woff") format("woff"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Regular.ttf") format("truetype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Regular.svg#SourceCodePro-Regular") format("svg");
}
@font-face {
font-family: "SourceCodePro-It";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-It.eot");
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-It.eot?#iefix") format("embedded-opentype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-It.woff2") format("woff2"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-It.woff") format("woff"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-It.ttf") format("truetype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-It.svg#SourceCodePro-It") format("svg");
}
@font-face {
font-family: "SourceCodePro-Bold";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Bold.eot");
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Bold.eot?#iefix") format("embedded-opentype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Bold.woff2") format("woff2"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Bold.woff") format("woff"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Bold.ttf") format("truetype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-Bold.svg#SourceCodePro-Bold") format("svg");
}
@font-face {
font-family: "SourceCodePro-BoldIt";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-BoldIt.eot");
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-BoldIt.eot?#iefix") format("embedded-opentype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-BoldIt.woff2") format("woff2"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-BoldIt.woff") format("woff"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-BoldIt.ttf") format("truetype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/SourceCodePro-BoldIt.svg#SourceCodePro-BoldIt") format("svg");
}
@font-face {
font-family: "F1785 GLC Baskerville Normal";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/1785-GLC-Baskerville.eot");
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/1785-GLC-Baskerville.eot?#iefix") format("embedded-opentype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/1785-GLC-Baskerville.woff2") format("woff2"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/1785-GLC-Baskerville.woff") format("woff"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/1785-GLC-Baskerville.ttf") format("truetype"),
url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/1785-GLC-Baskerville.svg#F1785 GLC Baskerville Normal") format("svg");
}
@font-face {
font-family: "Hermes TTY EWD";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/Hermes-TTY-EWD.ttf") format("truetype");
}
@font-face {
font-family: "Glass TTY VT220";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/Glass-TTY-VT220.ttf") format("truetype");
}
@font-face {
font-family: "LCMSS8";
src: url("https://raw.githubusercontent.com/nikitadanilov/card/refs/heads/master/fonts/LCMSS8.otf") format("opentype");
}
code.inline { display: inline; background-color: #ebebeb; font-size: 0.75em; }
pre code  {
font-family: "SourceCodePro-Regular", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
font-size: 12px;
display: block;
padding: 1em;
margin: 1em 0;
border-left: 8px solid #ddd;
border-radius: 8px;
line-height: 1.5;
}
body {
max-width: 100%;
margin: auto;
background-color: #fefefe;
}
header {
background-color: #ebebeb;
padding: 20px;
font-size: 30px; font-family: "LCMSS8", "URW Palladio L", Palatino, Baskerville, Menlo, Consolas, Monaco;
border-radius: 15px 15px 0 0; /* top-left, top-right, bottom-right, bottom-left */
}
footer {
background-color: #ebebeb;
padding: 20px;
border-radius: 0 0 15px 15px; /* top-left, top-right, bottom-right, bottom-left */
font-size: 20px; font-family: "TeXGyrePagella Regular", "URW Palladio L", Palatino, Baskerville, Menlo, Consolas, Monaco;
}
td { padding: 10px 20px; }
table.no-borders thead th {
padding: 10px 20px;
font-size: 20px; font-family: "TeXGyrePagella Regular", "URW Palladio L", Palatino, Baskerville, Menlo, Consolas, Monaco;
text-align: left;
}
h1, h2, h3, h4, h5, h6 {
font-family: "TeXGyrePagella Regular", "URW Palladio L", Palatino, Baskerville, Menlo, Consolas, Monaco;
}
